@value whiteBasic from '../../../../../css/colors.css';
@value blackBasic from '../../../../../css/colors.css';
@value lightGreySearchBasic from '../../../../../css/colors.css';
@value darkBlueBasic from '../../../../../css/colors.css';
@value lightGreenBasic from '../../../../../css/colors.css';
@value lightGreyBasic from '../../../../../css/colors.css';

.search{
    width: 100%;
    margin-top: 100px;
    z-index: 11;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.mainWrapper{
    width:  100%;
    padding: 0 134px;
    display: flex;
    justify-content: space-between;

    @media (--media-tablet-l) {
        padding: 0;
        display: block;
    }
}

.wrapper{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    position: relative;
    padding: 0 134px;

    @media (--media-tablet-l) {
        padding: 0;
    }
}

.gridContainer{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    position: fixed;
    height: 100vh;
    align-self: center;
    z-index: 10;

    @media (max-width: 1023px) {
        display: none;
    }
}

.column{
    width: 1px;
    background-color: lightGreyBasic;
    opacity: 0.05;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.column1{
    left: 134px;
}

.column2{
    left: 25%;
    margin-left: 62px;
}

.column3{
    left: 50%;
    margin-left: -10px;
}

.column4{
    left: 75%;
    margin-left: -75px;

    @media (max-width: 1100px){
        display: none;
    }
}

.column5{
    right: 134px;
    display: none;
}

.searchResults{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (--media-tablet-l) {
        flex-direction: column;
    }
}

.inputBlock{
    height: 286px;
    background: lightGreySearchBasic;
    position: relative;
    width: auto;

    @media (--media-tablet-l) {
        height: auto;
        width: 100%;
        background: whiteBasic;
    }
}

.searchField{
    width: 50vw;
    height: 100px;
    background: url('/src/apps/client/ui/pages/SearchPage/files/searchBgOpacity.png');
    margin: 100px 0 0 -145px;
    display: flex;
    z-index: 11;
    position: relative;

    @media (max-width: 1350px){
        width: 680px;
    }

    @media (--media-tablet-l) {
        width: 100%;
        margin: 45px 0 0;
        justify-content: flex-end;
        height: 100px;
    }

    @media (--media-tablet-s) {
        margin: 25px 0 0;
        height: 80px;
    }

    @media (--media-phone) {
        margin: 15px 0 0;
        height: 60px;
    }
}

.searchIcon, .searchIconZoom{
    max-width: 125px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;

    @media (--media-tablet-s) {
        max-width: 100px;
    }

    @media (--media-phone) {
        max-width: 100px;
    }
}

.searchIconImg{
    height: 35px;
    width: 35px;

    @media (--media-tablet-s) {
        width: 15px;
        height: 15px;
    }

    @media (--media-phone) {
        width: 15px;
        height: 15px;
    }
}

.input, .inputZoom{
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 1px;
    font-weight: 300;
    position: relative;
    z-index: 11;
    color: blackBasic;

    @media (--media-tablet-s) {
        font-size: 16px;
        letter-spacing: .8px;
        line-height: 20px;
    }

    @media (--media-phone) {
        font-size: 16px;
        letter-spacing: .8px;
        line-height: 20px;
    }
}

.input{
    opacity: 0;
}

.inputZoom{
    padding-top: 65px;
    padding-left: 20px;
    left: 125px;
    bottom: 30px;
    width: 525px;

    @media (--media-tablet-s) {
        left: 0;
        padding-top: 0;
        bottom: 0;
    }

    @media (--media-phone) {
        left: 0;
        padding-top: 0;
        bottom: 0;
    }
}

.results{
    margin-top: 35px;
    padding:0 7px 10px 7px;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.15px;
    z-index: 11;
    position: absolute;
    right: 0;
    color: blackBasic;
    font-family: 'Gotham Light', "Arial Black", sans-serif;

    @media (max-width: 1350px) {
        padding-right: 20px;
    }

    @media (--media-tablet-l) {
        padding-right: 7px;
        margin: 30px 50px;
        justify-content: flex-start;
        font-size: 14px;
        line-height: 18px;
        position: relative;
    }

    @media (--media-tablet-s) {
        margin: 30px;
        justify-content: flex-start;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.84px;
    }

    @media (--media-phone) {
        margin:10px 20px;
        font-size: 12px;
        line-height: 16px;
    }

    @media (--media-phone-s) {
        font-size: 12px;
        line-height: 16px;
    }
}

.totalResults{
    margin-right: -140px;
    margin-top: 75px;
    margin-left: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Gotham Pro', "Arial Black", sans-serif;
    color: darkBlueBasic;

    @media (max-width: 1366px) {
        max-width: 355px;
        width: 100%;
        margin-left: 0;
    }

    @media (--media-tablet-l) {
        flex-direction: row;
        width: auto;
        margin: 0 50px;
        border: 2px solid lightGreySearchBasic;
        max-width: inherit;
    }

    @media (--media-tablet-s) {
        flex-direction: row;
        width: auto;
        margin: 0 30px;
    }

    @media (--media-phone) {
        margin: 0 10px;
        border: 1px solid lightGreySearchBasic;
    }

    @media (--media-phone-s) {
        justify-content: space-around;
    }
}

.title{
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 17px;
    font-family: "Gotham Medium", "Arial Black";
    letter-spacing: 1.15px;
    position: relative;
    z-index: 11;
    padding-left: 20px;

    @media (--media-tablet-l) {
        display: none;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.84px;
    }
}

.amount{
    padding: 25px 0 25px 20px;
    font-size: 60px;
    font-family: Verdana;
    font-weight: 600;
    position: relative;
    z-index: 11;
    background: lightGreySearchBasic;

    @media (--media-tablet-l) {
        display: none;
    }
}

.amountPagesWrapper, .amountNewsWrapper {
    position: relative;
    z-index: 11;
    border-bottom: 2px solid lightGreySearchBasic;

    @media (--media-tablet-l) {
        padding: 0;
        border-bottom: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @media (--media-tablet-s) {
        padding: 0;
        border-bottom: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @media (--media-phone) {
        padding: 0;
        border-bottom: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    @media (--media-phone-s) {
        padding: 0;
        border-bottom: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.amountPagesWrapper{

  @media (--media-tablet-l) {
      border-right: 2px solid lightGreySearchBasic;
  }

  @media (--media-phone) {
      border-right: 1px solid lightGreySearchBasic;
  }
}

.amountPages, .amountNews{
    display: flex;
    justify-content: space-around;
    max-width: 135px;
    padding: 45px 0 40px 20px;

    @media (--media-tablet-l) {
        padding: 25px 20px 20px 20px;
    }

    @media (--media-tablet-s) {
        padding: 25px 20px 20px 20px;
    }

    @media (--media-phone) {
        padding: 25px 20px 20px 20px;
    }
}

.resultsPages, .resultsNews{
    width: 100%;
    font-family: 'Gotham Pro', "Arial Black", sans-serif;
    color: darkBlueBasic;
}

.amountPagesResult{
    margin-right: 25px;
}

.resultTitle{
    padding: 20px 0 20px 20px;
    border-left: 5px solid lightGreenBasic;
    margin-left: -25px;
    margin-bottom: 14px;
    font-family: "Gotham Medium", "Arial Black";
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.15px;
    position: relative;
    z-index: 11;

    @media (--media-tablet-l) {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1.15px;
        margin: 35px 50px;
        padding: 20px 0 20px 20px;
    }

    @media (--media-tablet-s) {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.84px;
        margin: 35px 30px;
        padding: 15px 0 15px 20px;
    }

    @media (--media-phone) {
        border-width: 6px;
        margin: 30px 0 0 10px;
        padding: 10px 0 10px 20px;
        font-size: 12px;
        line-height: 15px;
    }

    @media (--media-phone-s) {
        border-width: 3px;
        margin: 30px 0 0 10px;
        padding: 10px 0 10px 20px;
        font-size: 12px;
        line-height: 15px;
    }
}

.resultPagesList{
    position: relative;
    z-index: 11;
    min-height: 245px;
    padding: 45px 0;

    @media (--media-tablet-l) {
        padding: 30px 73px 40px;
        min-height: 0;
    }

    @media (--media-tablet-s) {
        padding: 20px 53px 40px;
    }

    @media (--media-phone) {
        padding: 20px 23px 40px;
    }
}

.resultPageItem{
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Gotham Medium", "Arial Black";
    line-height: 22px;
    letter-spacing: 0.38px;
    margin-bottom: 35px;
    position: relative;
    z-index: 11;
    display: block;

    @media (--media-tablet-l) {
        font-size: 18px;
        line-height: 22px;
    }

    @media (--media-tablet-s) {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.81px;
    }

    @media (--media-phone) {
        font-size: 14px;
        line-height: 17px;
    }
}

.resultPageItem:last-child{
    margin-bottom: 0;
}

.resultNewsList{
    max-width: 805px;
    padding-bottom: 50px;

    @media (--media-tablet-l) {
        margin: 30px 50px;
        padding-bottom: 0;
        max-width: none;
    }

    @media (--media-tablet-s) {
        margin: 30px;
    }

    @media (--media-phone) {
        margin: 20px 10px;
    }

    @media (--media-phone-s) {
        margin: 20px 10px;
    }
}

.resultNewsItem, .resultNewsItemNotOdd{
    padding: 25px 250px 40px 35px;
    position: relative;
    z-index: 11;

    @media (--media-tablet-l) {
        padding: 30px 20px 25px 45px;
        min-height: 200px;
    }

    @media (--media-tablet-s) {
        padding: 25px 20px 25px 35px;
        min-height: 150px;
    }
}

.resultNewsItemNotOdd {
    background: lightGreySearchBasic;
}

.date{
    margin-bottom: 10px;
    font-size: 13.5px;
    line-height: 17px;
    color: darkBlueBasic;
    z-index: 11;
    position: relative;
    letter-spacing: 1.15px;
    font-family: 'Gotham Light', Arial, sans-serif;

    @media (--media-tablet-l) {
        font-size: 13.5px;
    }

    @media (--media-tablet-s) {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.61px;
    }

    @media (--media-phone) {
        font-size: 9px;
        line-height: 12px;
    }

    @media (--media-phone-s) {
        font-size: 9px;
        line-height: 12px;
        margin-bottom: 14px;
    }
}

.news{
    color: blackBasic;
    font-size: 16px;
    line-height: 19;
    z-index: 11;
    font-family: 'Gotham Pro', Arial, sans-serif;
    letter-spacing: 0.8px;

    @media (--media-tablet-l) {
        font-size: 14px;
        line-height: 18px;
    }

    @media (--media-phone) {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.61px;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}
