@value lightGreyBasic from '../../../../../css/colors.css';

.lawPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.gridContainer{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    position: fixed;
    height: 100vh;
    z-index: 2;
    top: 102px;

    @media (max-width: 1023px){
        top: 0;
    }
}

.column{
    width: 1px;
    background-color: lightGreyBasic;
    opacity: 0.05;
    height: 100%;
    position: absolute;
    z-index: 10;
}

.column1{
    left: 134px;

    @media (max-width: 1023px) {
        left: 30%;
    }
}

.column2{
    left: 25%;
    margin-left: 62px;

    @media (max-width: 1023px) {
        display: none;
    }
}

.column3{
    left: 50%;
    margin-left: -10px;

    @media (max-width: 1023px) {
        display: none;
    }
}

.column4{
    left: 75%;
    margin-left: -75px;

    @media (max-width: 1023px) {
        display: none;
    }
}

.column5{
    right: 134px;

    @media (max-width: 1023px) {
        right: 30%;
    }
}
