@value limeGreen from '../../../../../css/colors.css';
@value lightGreyBasic from '../../../../../css/colors.css';

.newsContainer{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto 50px auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.newsContentContainer{
    padding-top: 130px;
}

.gridContainer{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    position: fixed;
    height: 100vh;
    z-index: 10;
}

.column{
    width: 1px;
    background-color: lightGreyBasic;
    opacity: 0.05;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.column1{
    left: 134px;
}

.column2{
    left: 25%;
    margin-left: 63px;
}

.column3{
    left: 50%;
    margin-left: -10px;
}

.column4{
    left: 75%;
    margin-left: -75px;
}

.column5{
    right: 134px;
}

.newsContent{
    margin: 0 0 0 135px;
}

.newsMenuContainer{
    padding-top: 130px;
    width: 415px;
    position: relative;
    z-index: 11;
}

.titleContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 105px;
    position: relative;
    z-index: 11;
}

.rectangleGreen{
    height: 70px;
    width: 6px;
    margin-right: 25px;
    background-color: limeGreen;
}

.title{
    font-size: 18px;
    line-height: 18px;
    font-family: GothamPro-Medium, "Arial Black";
    letter-spacing: 1.5px;
    text-align: left;
}

.categoryTitle{
    font-size: 18px;
    line-height: 18px;
    font-family: GothamPro-Medium, "Arial Black";
    letter-spacing: 1.5px;
    text-align: left;
}

.newsCategoryTitle, .newsCategory{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    margin-left: -17px;
}

.newsCategoryTitle .rectangleGreen{
     height: 70px;
     width: 6px;
     margin-right: 25px;
     visibility: visible;
}

.newsCategoryTitle .rectangleGreenInvisible{
    height: 70px;
    width: 6px;
    margin-right: 25px;
    visibility: hidden;
}