@value limeGreen from '../../../../../css/colors.css';
@value whiteBasic from '../../../../../css/colors.css';
@value blackBasic from '../../../../../css/colors.css';
@value darkBlueBasic from '../../../../../css/colors.css';
@value lightOlive from '../../../../../css/colors.css';
@value middleGrey from '../../../../../css/colors.css';
@value lightGreyBasic from '../../../../../css/colors.css';

.pageNotFound{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.newsContainer{
    width: 100%;
    max-width: 1350px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
    margin: 0 auto 0 auto;

    @media (min-width: 1350px){
        justify-content: space-between;
    }

    @media (max-width: 780px){
        margin: 0 auto;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: start;
    }
}

.newsContentContainer{
    margin-top: 130px;

    @media (max-width: 780px){
        margin-top: 30px;
        width: 100%;
    }
}

.gridContainer{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    position: fixed;
    height: 100vh;
    z-index: 10;

    @media (max-width: 780px) {
        display: none;
    }
}

.column{
    width: 1px;
    background-color: lightGreyBasic;
    opacity: 0.05;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.column1{
    left: 134px;
}

.column2{
    left: 25%;
    margin-left: 61px;
}

.column3{
    left: 50%;
    margin-left: -10px;
}

.column4{
    left: 75%;
    margin-left: -75px;

    @media (max-width: 1349px){
        display: none;
    }

}

.column5{
    right: 134px;
}

.newsMenuContainer{
    width: 415px;
    margin-top: 130px;
    display: block;

    @media (max-width: 780px){
        display: none;
    }
}

.titleContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 104px;
    position: relative;
    z-index: 11;

    @media (max-width: 780px){
        margin-left: 30px;
    }
}

.rectangleGreen{
    height: 70px;
    width: 6px;
    margin-right: 25px;
    background-color: limeGreen;
}

.title{
    font-size: 18px;
    line-height: 18px;
    font-family: 'Gotham Medium', "Arial Black";
    letter-spacing: 1.5px;
    text-align: left;
}

.categoryTitle{
    font-size: 18px;
    line-height: 18px;
    font-family: 'Gotham Medium', "Arial Black";
    letter-spacing: 1.5px;
    text-align: left;
    margin-left: -26px;
    cursor: pointer;
    position: relative;
    z-index: 11;
}

.newsCategoryTitle, .newsCategory{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    margin-left: 15px;
}

.categoryArrowIcon{
    width: 12px;
    height: auto;
    margin: 0 25px;
    cursor: pointer;
}

.arrowButtonUp{
    transform: rotate(180deg);
}

.arrowButtonDown{
    transform: none;
}

.newsContent{
    width: 665px;
    margin: 0 0 390px 120px;

    @media (max-width: 780px){
        width: 100%;
        margin: 0;
    }
}

.newsCover{
    width: 665px;
    height: 520px;
    position: absolute;
    top: 235px;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 780px){
        top: 300px;
        width: 100%;
        align-items: start;
    }
}

.coverImage{
    width: auto;
    height: 100%;
}

.news{
    width: 550px;
    background-color: whiteBasic;
    margin-top: 260px;
    position: relative;
    padding: 20px 18px;
    margin-left: 14px;

    @media (max-width: 780px){
        margin: 260px 0 0 0;
        width: 100%;
        padding: 32px 30px;
    }
}

.newsDate{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: 'Gotham Light', Arial;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 1px;
    color: darkBlueBasic;
    margin-bottom: 16px;
    position: relative;
    z-index: 11;
}

.newsTitle{
    width: 100%;
    align-items: start;
    justify-content: start;
    font-family: 'Gotham Pro', Arial;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.5px;
    color: blackBasic;
    margin-bottom: 45px;
    position: relative;
    z-index: 11;
}

.newsText{
    font-family: 'Gotham Light', Arial;
    letter-spacing: 1px;
    text-align: left;
    font-size: 16px;
    line-height: 18px;
    color: blackBasic;
    position: relative;
    z-index: 11;
}

.nextNews{
    position: absolute;
    padding: 0 100px 0 135px;
    bottom: 0;
    width: 70%;
    height: 240px;
    background-color: lightOlive;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1349px){
        width: 80%;
    }

    @media (max-width: 1200px){
        width: 90%;
    }

    @media (max-width: 960px){
        width: 100%;
    }

    @media (max-width: 780px){
        width: 100%;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 32px 30px;
        position: relative;
    }

    @media (max-width: 425px){
        height: 270px;
    }
}

.next{
    font-family: 'Gotham Medium', "Arial Black";
    color: limeGreen;
    font-size: 14px;
    line-height: normal;
    text-align: left;

    @media (max-width: 780px){
        display: none;
    }
}

.nextNewsDate{
    font-family: 'Gotham Light', Arial;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 1px;
    color: darkBlueBasic;
    position: relative;
    z-index: 11;
}

.nextNewsHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 27px;
    position: relative;
    z-index: 11;

    @media (max-width: 780px){
        justify-content: start;
        position: absolute;
        bottom: 32px;
    }
}

.nextNewsTitle{
    width: 530px;
    font-family: 'Gotham Pro', Arial;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.5px;
    color: blackBasic;
    position: relative;
    z-index: 11;

    @media (max-width: 780px){
        width: 100%;
        font-size: 18px;
    }
}

.nextNewsButton{
    width: 75px;
    height: 75px;
    border: 1px solid limeGreen;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
    z-index: 11;

    @media (max-width: 780px){
        position: absolute;
        bottom: 32px;
        right: 30px;
        border: 1px solid rgba(000, 000, 000, 0.2);
    }
}

.nextNewsButtonDisabled{
    opacity: 0.2;
    border: 1px solid rgba(122, 122, 122, 1);
}

.arrowIcon{
    width: 36px;
    height: auto;

    @media (max-width: 780px){
        opacity: 0.2;
    }
}

.categoryNewsList{
    width: 415px;
    max-height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 0;
    transition: height .6s;
}

.categoryNewsListAnimated1x{
    height: 160px;
}

.categoryNewsListAnimated2x{
    height: 320px;
}

.categoryNewsListAnimated3x{
    height: 480px;
}

.categoryNewsList :last-child{
    border-bottom: 1px solid rgba(122, 122, 122, 0.05);
}

.newsCardContainer{
    width: 415px;
    padding: 0 20px;
    border-top: 1px solid rgba(122, 122, 122, 0.05);
    border-left: 2px solid whiteBasic;
    cursor: pointer;
    opacity: 0;
    transition: opacity .4s;
    margin-left: 4px;
    position: relative;
    z-index: 11;
}

.newsCardContainerAnimated{
    opacity: 1;
}

.newsCardContainer:hover{
    border-left: 2px solid limeGreen;
}

.newsCardContainer .newsDate{
    width: 100%;
    margin: 26px 0 18px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: 'Gotham Light', Arial;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 1px;
    color: middleGrey;
}

.newsCardContainer .newsTitle{
    width: 100%;
    height: 100px;
    align-items: start;
    justify-content: start;
    font-family: 'Gotham Pro', Arial;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.5px;
    color: blackBasic;
    border: none;
    margin-bottom: 0;
}

.newsMenuContainerMobile {
    width: 100%;
    margin-top: 130px;
    border: 1px solid rgba(122, 122, 122, 0.2);
    display: none;
    flex-direction: column;
    align-items: end;
    justify-content: start;

@media (max-width: 780px){
    display: flex;
}
}

.mobileMenuContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.activeCategory{
    font-size: 18px;
    line-height: 18px;
    font-family: 'Gotham Medium', "Arial Black";
    letter-spacing: 1.5px;
    text-align: left;
    color: rgba(122, 122, 122, 0.5);
    width: 70%;
    border-right: 1px solid rgba(122, 122, 122, 0.2);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 22px;
}

.arrowButton{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrowButtonReverse{
    transform: rotate(180deg);
}

.arrow{
    width: 32px;
    height: auto;
}

.categoriesList{
    width: 100%;
    border-top: 1px solid rgba(122, 122, 122, 0.2);
}

.categoryTitleMobile{
    font-size: 18px;
    line-height: 18px;
    font-family: 'Gotham Medium', "Arial Black";
    letter-spacing: 1.5px;
    text-align: left;
    color: limeGreen;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px 22px;
}

.newsCategoryMobile{
    opacity: 0;
    cursor: pointer;
}

.newsCategoryMobileAnimated{
    opacity: 1;
}