@value limeGreen from '../../../../../css/colors.css';
@value whiteBasic from '../../../../../css/colors.css';
@value blackBasic from '../../../../../css/colors.css';
@value darkBlueBasic from '../../../../../css/colors.css';
@value lightOlive from '../../../../../css/colors.css';
@value middleGrey from '../../../../../css/colors.css';

.newsContainer{
    width: 100%;
    max-width: 1350px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
    margin: 130px auto 0 auto;
}

.newsContent{
    margin: 0 0 0 120px;
}

.newsMenuContainer{
    width: 415px;
}

.titleContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 88px;
}

.rectangleGreen{
    height: 70px;
    width: 6px;
    margin-right: 25px;
    background-color: limeGreen;
}

.title{
    font-size: 18px;
    line-height: 18px;
    font-family: GothamPro-Medium, "Arial Black";
    letter-spacing: 1.5px;
    text-align: left;
}

.categoryTitle{
    font-size: 18px;
    line-height: 18px;
    font-family: GothamPro-Medium, "Arial Black";
    letter-spacing: 1.5px;
    text-align: left;
    margin-left: -30px;
    cursor: pointer;
}

.newsCategoryTitle, .newsCategory{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    margin-left: 15px;
}

.categoryArrowIcon{
    width: 12px;
    height: auto;
    margin: 0 25px;
    cursor: pointer;
}

.arrowButtonUp{
    transform: rotate(180deg);
}

.arrowButtonDown{
    transform: none;
}

.newsContent{
    width: 665px;
    margin-bottom: 390px;
}

.newsCover{
    width: 665px;
    height: 520px;
    position: absolute;
    top: 105px;
    left: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coverImage{
    width: 100%;
    height: auto;
}

.news{
    width: 550px;
    background-color: whiteBasic;
    margin-top: 260px;
    position: relative;
    padding: 20px 18px;
}

.newsDate{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: GothamPro-Light, Arial;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 1px;
    color: darkBlueBasic;
    margin-bottom: 16px;
}

.newsTitle{
    width: 100%;
    align-items: start;
    justify-content: start;
    font-family: GothamPro, Arial;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.5px;
    color: blackBasic;
    margin-bottom: 45px;
}

.newsText{
    font-family: GothamPro-Light, Arial;
    letter-spacing: 1px;
    text-align: left;
    font-size: 14px;
    color: blackBasic;
}

.nextNews{
    position: absolute;
    padding: 0 100px 0 125px;
    bottom: 0;
    width: 70%;
    height: 240px;
    background-color: lightOlive;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.next{
    font-family: GothamPro-Medium, "Arial Black";
    color: limeGreen;
    font-size: 14px;
    line-height: normal;
    text-align: left;
}

.nextNewsDate{
    font-family: GothamPro-Light, Arial;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 1px;
    color: darkBlueBasic;
}

.nextNewsHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 27px;
}

.nextNewsTitle{
    width: 530px;
    font-family: GothamPro, Arial;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.5px;
    color: blackBasic;
}

.nextNewsButton{
    width: 75px;
    height: 75px;
    border: 1px solid limeGreen;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
}

.arrowIcon{
    width: 36px;
    height: auto;
}

.categoryNewsList{
    width: 415px;
    max-height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 0;
    transition: height .6s;
}

.categoryNewsListAnimated1x{
    height: 160px;
}

.categoryNewsListAnimated2x{
    height: 320px;
}

.categoryNewsListAnimated3x{
    height: 480px;
}

.categoryNewsList :last-child{
    border-bottom: 1px solid rgba(122, 122, 122, 0.15);
}

.newsCardContainer{
    width: 415px;
    padding: 0 20px;
    border-top: 1px solid rgba(122, 122, 122, 0.15);
    border-left: 2px solid whiteBasic;
    cursor: pointer;
    opacity: 0;
    transition: opacity .2s;
}

.newsCardContainerAnimated{
    opacity: 1;
}

.newsCardContainer:hover{
    border-left: 2px solid limeGreen;
}

.newsCardContainer .newsDate{
    width: 100%;
    margin: 26px 0 18px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: GothamPro-Light, Arial;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 1px;
    color: middleGrey;
}

.newsCardContainer .newsTitle{
    width: 100%;
    height: 100px;
    align-items: start;
    justify-content: start;
    font-family: GothamPro, Arial;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.5px;
    color: blackBasic;
    border: none;
    margin-bottom: 0;
}