.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    height: 100vh;
    margin-top: -40px;
}

.title {
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
}

.button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
