@value whiteBasic from '../../../../../css/colors.css';
@value darkBlueBasic from '../../../../../css/colors.css';
@value darkGreyBasic from '../../../../../css/colors.css';
@value limeGreen from '../../../../../css/colors.css';
@value lightGreyBasic from '../../../../../css/colors.css';
@value darkBlueHover from '../../../../../css/colors.css';

.header{
    width: 100%;
    background: whiteBasic;
    display: flex;
    justify-content: center;
}

.headBg{
    background: whiteBasic;
    width: 100%;
    position: relative;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 4;
}

.wrapper{
    width:  100%;
    max-width: 1350px;
    display: flex;
}

.logoContainer{
    display: flex;
    min-width: 125px;
    align-items: center;
    justify-content: center;
}

.img{
    width: 70px;
    height: 70px;
}

.menu{
    height: auto;
    background: url('/src/apps/client/ui/components/Header/files/gradientBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-grow: 2;
}

.link, .activeLink{
    text-transform: uppercase;
    color: darkBlueBasic;
    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    letter-spacing: .1px;
    text-align: center;
    padding: 45px 20px 30px;
    font-family: 'Gotham Medium', sans-serif;
    width: 100%;
}

.link:first-child, .activeLink:first-child{
  padding-left: 30px;
}

.link:nth-child(2), .activeLink:nth-child(2){
}

.link:last-child, .activeLink:last-child{
  padding-right: 30px;
}

.link:hover{
    background: darkBlueHover;
    color: whiteBasic;
}

.activeLink{
    border-bottom: 13px solid darkBlueHover;
}

.tools{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: auto;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 30px;
}

.phone{
    color: darkGreyBasic;
    margin-right: 50px;
    font-family: 'Gotham Light';
}

.toogleLang{
    display: flex;
    align-items: center;
    color: lightGreyBasic;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: .5px;
    font-family: 'Gotham Narrow';
}

.lang{
    cursor: pointer;
}

.choosenLang{
    color: limeGreen;
}
