@value whiteBasic from '../../../../../css/colors.css';
@value darkBlueBasic from '../../../../../css/colors.css';
@value darkGreyBasic from '../../../../../css/colors.css';
@value limeGreen from '../../../../../css/colors.css';
@value lightGreyBasic from '../../../../../css/colors.css';
@value darkBlueHover from '../../../../../css/colors.css';
@value blueMobileBg from '../../../../../css/colors.css';
@value lightGreyMenuLink from '../../../../../css/colors.css';

.header{
    width: 100%;
    background: whiteBasic;
    display: flex;
    justify-content: center;
    z-index: 40;

    @media (max-width: 1200px) {
        background: transparent
    }

    @media (--media-tablet-s) {
        background: transparent
    }
}

.headBg{
    width: 100%;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 40;

    @media (max-width: 1200px) {
        position: absolute;
        background: transparent;
        border-bottom: 1px solid rgba(122, 122, 122, 0.05)
   }

    @media (--media-tablet-s) {
        position: absolute;
        background: transparent;
   }
}

.wrapper, .wrapperBurgerMenu{
    width:  100%;
    display: flex;
    z-index: 40;

    @media (max-width: 1200px) {
        justify-content: space-between;
        align-items: center;
        padding: 35px;
   }

    @media (--media-tablet-s) {
        justify-content: space-between;
        align-items: center;
        padding: 35px;
   }

    @media (--media-phone) {
        padding: 25px 20px;
   }
}

.wrapperBurgerMenu{
    position: fixed;
    overflow-y: scroll;
    background: blueMobileBg;
    align-items: flex-start;
    min-height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.logoContainer{
    display: flex;
    min-width: 134px;
    align-items: center;
    justify-content: center;

    @media (max-width: 1350px) {
        min-width: 134px;
    }

    @media (max-width: 1200px) {
        min-width: 0;
        z-index: 10;
        display: block;
   }
}

.img{
    width: 70px;
    height: 70px;
    z-index: 13;
}

.menu{
    height: auto;
    background: url('/src/apps/client/ui/components/Header/files/gradientBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-grow: 2;

    @media (max-width: 1200px) {
        display: none;
    }
}

.link, .activeLink{
    min-width: 122px;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
    color: darkBlueBasic;
    font-size: 18px;
    line-height: 14px;
    letter-spacing: 0.38px;
    text-align: center;
    padding: 45px 20px 30px;
    font-family: 'Gotham Medium', 'Arial Black', sans-serif;
    border-bottom: 13px solid transparent;

    @media (max-width: 1350px) {
        font-size: 15px;
        letter-spacing: .1px;
        padding: 45px 15px 30px;
    }
}

.subLinks{
    position: absolute;
    height: calc(100% + 40px);
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 15;
    background-color: blueMobileBg;
    color: white;
    display: none;
}

.subLinksVisible{
    display: block;
}

.lawsLink {
    border-bottom: none;
}

.subLink{
    color: whiteBasic;
    height: 50%;
    border-top: 1px solid rgba(122, 122, 122, 0.2);
    width: 100%;
    font-size: 10px;
    font-family: 'Gotham Medium', 'Arial Black', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    padding: 10px 20px;

    @media (max-width: 1350px) {
        padding: 10px 6px;
    }
}

.subLink:hover{
    background: darkBlueHover;
    cursor: pointer;
}

.link:hover{
    background: blueMobileBg;
    color: whiteBasic;
}

.activeLink{
    border-bottom: 13px solid darkBlueHover;
}

.tools{
    display: flex;
    align-items: center;
    font-size: 14px;
    width: auto;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 30px;
    border-bottom: 1px solid rgba(122, 122, 122, 0.05);

    @media (max-width: 1250px) {
        padding-left: 10px;
        padding-right: 10px;
    }

    @media (max-width: 1210px) {
        padding-left: 5px;
        padding-right: 5px;
    }

    @media (max-width: 1200px) {
        padding-left: 20px;
        padding-right: 30px;
        border-bottom: none;
   }

    @media (max-width: 1150px) {
        font-size: 11px;
        padding: 0;
    }
}

.phone{
    white-space: nowrap;
    color: darkGreyBasic;
    margin-right: 20px;
    font-size: 14px;
    line-height: normal;
    font-family: 'Gotham Pro', 'Arial Black', sans-serif;
    letter-spacing: 0.72px;
    white-space: nowrap;

    @media (max-width: 1350px) {
        letter-spacing: 0.72px;
        margin-right: 20px;
        font-size: 12px;
        padding-left: 5px;
    }

    @media (max-width: 1250px) {
        margin-right: 10px;
    }

    @media (max-width: 1200px) {
        display: none;
   }
}

.toogleLang, .toogleLangBurgerMenu{
    display: flex;
    align-items: center;
    color: lightGreyBasic;
    cursor: pointer;
    font-size: 13px;
    letter-spacing: .5px;
    border-left: 1px solid rgba(122, 122, 122, 0.05);
    font-family: 'Gotham Narrow', 'Arial Black', sans-serif;

    @media (max-width: 1349px) {
        font-size: 12px;
    }

    @media (max-width: 1200px) {
        display: none;
    }
}

.toogleLang{
    height: 100%;
    padding-left: 22px;
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 1250px) {
        padding-left: 10px;
        width: 125px;
    }

    @media (max-width: 1210px) {
        padding-left: 10px;
        width: 130px;
    }

    @media (max-width: 1200px){
        display: none;
    }
}

.toogleLangBurgerMenu{
    @media (max-width: 1200px) {
        display: flex;
        z-index: 4;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        justify-content: center;
        color: whiteBasic;
    }

    @media (--media-phone) {
        top: 60px;
    }

    @media (--media-phone-s) {
        top: 50px;
    }
}

.lang{
    font-size: 13.5px;
    line-height: 12.78px;
    letter-spacing: 0.57px;
    cursor: pointer;

    @media (max-width: 1349px) {
        font-size: 12px;
    }

    @media (max-width: 1150px) {
        font-size: 11px;
    }
}

.choosenLang{
    font-size: 13.5px;
    line-height: 12.78px;
    letter-spacing: 0.57px;
    color: limeGreen;

    @media (max-width: 1349px) {
        font-size: 12px;
    }

    @media (max-width: 1150px) {
        font-size: 11px;
    }
}

.burgerMenu, .burgerMenuOpen{
    display: none;

    @media (max-width: 1200px) {
        display: block;
        height: 70px;
        width: 70px;
        border: 1px solid limeGreen;
        padding: 16px 0;
        position: absolute;
        right: 35px;
        z-index: 15;
   }

    @media (--media-tablet-s) {
        height: 50px;
        width: 50px;
        padding: 10px 0;
        right: 30px;
        top: 50px;
   }

   @media (--media-phone) {
        top: 40px;
   }

   @media (--media-phone-s) {
       top: 30px;
       right: 25px;
  }
}

.burgerMenuOpen{
    border: none;
}

.menuLines, .menuLinesCross, .menuLinesPages{
    width: 20px;
    height: 2px;
    background: white;
    transition: all .2s ease-out;
    transform: rotate(0deg);
    border: none;
    border-radius: 3px;
    margin: 5px auto;

    @media (max-width: 1200px){
        margin: 8px auto;
        width: 30px;
    }

    @media (--media-tablet-s) {
        width: 20px;
        height: 2px;
        background: white;
        transition: all .2s ease-out;
        transform: rotate(0deg);
        border: none;
        border-radius: 3px;
        margin: 5px auto;
    }
}

.menuLinesPages{
      background: limeGreen;
}

.menuLinesCross:first-child{
     transform: rotate(45deg);
     transition: all .2s ease-out;
}

.menuLinesCross:last-child{
     transform: rotate(-45deg);
     transition: all .2s ease-out;
}

.menuLinesCross{
    position: absolute;
    top: 15px;
    left: 15px;

    @media (max-width: 1200px) {
        top: 30px;
        left: 20px;
    }

   @media (--media-tablet-s) {
        top: 20px;
        left: 15px;
   }

   @media (--media-phone) {
        top: 20px;
        left: 15px;
   }

   @media (--media-phone-s) {
        top: 20px;
        left: 15px;
   }
}

.menuLinesCross:nth-child(2) {
    display: none;
}

.burgerMenuList{
    position: static;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    background: blueMobileBg;

    @media (max-width: 1200px) {
        width: 100%;
    }

    @media (--media-phone) {
        position: relative;
    }

    @media (--media-phone-s) {
        padding-top: 120px;
    }
}

.burgerMenuList .link{
      letter-spacing: .3px;
      font-size: 13px;
      line-height: 14px;
      font-weight: 500;
      color: whiteBasic;
      text-align: left;
      padding: 0;
      margin-bottom: 40px;
      border: none;
      z-index: 11;

      @media (max-width: 1200px) {
          font-size: 18px;
          line-height: 22px;
      }

      @media (--media-tablet-s) {
          font-size: 16px;
          line-height: 18px;
      }

      @media (--media-phone) {
          font-size: 14px;
          line-height: 16px;
          padding-left: 10px;
      }

      @media (--media-phone-s) {
          font-size: 13px;
          line-height: 14px;
          margin-bottom: 25px;
          padding-left: 15px;
      }
}

.burgerMenuList .linkContainer{
    display: flex;
    align-items: center;
}

.newsCategoriesList{
    display: none;
    overflow: hidden;
    transition: .2s ease;

    @media (max-width: 1200px){
        display: block;
    }
}

.newsCategoriesListAnimated{
    overflow: unset;
}

.newsCategoriesList .newsLink{
    letter-spacing: .3px;
    font-size: 13px;
    line-height: 14px;
    font-weight: 500;
    color: whiteBasic;
    text-align: left;
    padding: 0;
    margin-bottom: 40px;
    border: none;
    display: flex;
    align-items: center;
    z-index: 11;

    @media (max-width: 1200px) {
        font-size: 18px;
        line-height: 22px;
    }

    @media (--media-tablet-s) {
        font-size: 16px;
        line-height: 18px;
    }

    @media (--media-phone) {
        font-size: 14px;
        line-height: 16px;
    }

    @media (--media-phone-s) {
        font-size: 13px;
        line-height: 14px;
        margin-bottom: 25px;
    }
}

.newsCategoriesList .newsLinkCategory{
    opacity: 0;
    transition: opacity .25s;
    color: lightGreyMenuLink;
    margin-bottom: 25px;
    text-transform: capitalize;
    font-family: 'Gotham Light', Arial;
    font-size: 14px;

    @media (--media-phone) {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 28px;
    }

    @media (--media-phone-s){
        font-size: 12px;
        margin-bottom: 15px;
    }
}

.newsCategoriesList .newsLinkCategoryAnimated{
    opacity: 1;
}

.newsCategoriesList :first-child{
    margin-top: 25px;

    @media (--media-phone) {
        margin-top: 28px;
    }

    @media (--media-phone-s){
        margin-top: 15px;
    }
}

.newsCategoriesList :last-child{
    margin-bottom: -15px;

    @media (--media-phone) {
        margin-bottom: -12px;
    }

    @media (--media-phone-s){
        margin-bottom: -10px;
    }
}

.arrowBtnNews, .arrowBtnNewsUp{
    margin-left: 18px;
    transform: rotate(0deg);
    z-index: 45;
    position: relative;
    top: -2px;
}

.arrowBtnNewsUp{
    transform: rotate(180deg);
}

.socialhidden{
    display: none;
}

.social{
    display: none;

    @media (max-width: 1200px) {
        z-index: 100;
        color: whiteBasic;
        width: 100%;
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        margin-bottom: 35px;
        left: 50%;
        width: 280px;
        transform: translate(-50%, -50%);
    }
}

.socialItem{
    font-size: 10px;
    letter-spacing: .8px;
    line-height: 14px;

    @media (max-width: 1200px) {
        font-size: 16px;
        line-height: 18px;
    }

    @media (--media-tablet-s) {
        font-size: 14px;
        line-height: 16px;
    }

    @media (--media-phone) {
        font-size: 12px;
        line-height: 14px;
    }

    @media (--media-phone-s) {
        font-size: 10px;
        line-height: 14px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .link, .activeLink {
        width: auto;
    }

    .link:last-child, .activeLink:last-child{
        width: 100%;
    }
}
