@value whiteBasic from '../../../../../css/colors.css';
@value yellowBasic from '../../../../../css/colors.css';
@value lightGreenBorder from '../../../../../css/colors.css';
@value limeLine from '../../../../../css/colors.css';
@value darkBlueHover from '../../../../../css/colors.css';
@value blackBasic from '../../../../../css/colors.css';

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.wrapper{
    width:  100%;
    max-width: 1350px;
    padding-left: 125px;
    color: whiteBasic;
}

.photoBlock{
    width: 100%;
    height: 625px;
    background: url('/src/apps/client/ui/components/Content/files/main.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    position: relative;
}

.topBlock{
    display: flex;
    align-items: flex-end;
}

.moreBtn{
    display: flex;
    border: 1px solid lightGreenBorder;
    margin-left: -67px;
    cursor: pointer;
}

.arrowBtn{
    width: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightGreenBorder;
    padding: 32px 22px 25px;
}

.arrowImg{
    width: 100%;
}

.btn{
    text-transform: uppercase;
    font-family: 'Gotham Pro';
    font-weight: 500;
    padding: 32px 22px 25px;
}

.btn:hover{
    background: darkBlueHover;
}

.mainText{
    max-width: 550px;
    margin-left: 135px;
}

.title{
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Verdana, sans-serif;
    font-weight: 700;
}

.horizontalLine{
    width: 65px;
    height: 5px;
    background: limeLine;
    margin: 20px 0 25px;
    border: none;
}

.description{
    font-size: 24px;
    letter-spacing: .5px;
    font-weight: 500;
    line-height: 28px;
    font-family: 'Gotham Medium', sans-serif;
}

.bottomBlock{
    margin-top: 250px;
    display: flex;
    align-items: flex-end;
}

.searchField{
    width: 680px;
    height: 100px;
    background: url('/src/apps/client/ui/components/Content/files/searchBgOpacity.png');
    margin: 140px 0 0 -125px;
    display: flex;
    position: relative;
}

.searchIcon, .searchIconZoom{
    max-width: 125px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchIconZoom{
    position: absolute;
    right: 0;
}

.searchIconImg{
    height: 35px;
    width: 35px;
}

.input, .inputZoom{
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 300;
    color: blackBasic;
}

.input{
    opacity: 0;
}

.inputZoom{
    border-bottom: 1px solid white;
    padding-top: 65px;
    padding-left: 20px;
    left: 40px;
    bottom: 30px;
    width: 525px;
}

.text{
    width: 295px;
    height: auto;
    align-self: flex-end;
    margin: -55px 180px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.heading{
    margin: 0 60px 25px 0;
    margin-bottom: 25px;
    background: url('/src/apps/client/ui/components/Content/files/number.png');
    height: 40px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
}

.info{
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: .4px;
    color: whiteBasic;
    font-family: 'Gotham Medium', sans-serif;
    text-align-last: end;
    text-align: start;
}

.graphic{
    background: url('/src/apps/client/ui/components/Content/files/c.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 0;
    height: 600px;
    width: 260px;
}
