@value darkBlueBasic from '../../../../../css/colors.css';
@value semiGreyBg from '../../../../../css/colors.css';
@value lightGreenBasic from '../../../../../css/colors.css';
@value blackBasic from '../../../../../css/colors.css';
@value lightGreyBorder from '../../../../../css/colors.css';
@value lightGreyHover from '../../../../../css/colors.css';
@value lightGreenHover from '../../../../../css/colors.css';

.articles{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;
    margin-left: 20px;
}

.wrapper{
    width:  100%;
    max-width: 1350px;
    padding-left: 125px;
    display: flex;
}

.info{
    width: 100%;
    padding-bottom: 35px;
}

.title{
    padding: 25px 0 20px 25px;
    border-left: 5px solid lightGreenBasic;
    margin-left: -30px;
    color: darkBlueBasic;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .5px;
    cursor: pointer;
    position: relative;
    z-index: 11;
}

.title:hover{
  color: lightGreyHover;
}

.wrapperArticles{
    width:  100%;
    max-width: 1350px;
    padding:0 125px;
    display: flex;
    background: semiGreyBg;
}

.news{
    display: flex;
}

.newsBlock{
    margin: 0 20px;
    padding: 30px 35px 50px 20px;
    cursor: pointer;
}

.newsBlock:hover{
    outline: 1px solid lightGreenHover;
}

.date{
    margin-bottom: 18px;
    font-size: 14px;
    color: darkBlueBasic;
    font-weight: 300;
    letter-spacing: .5px;
    z-index: 11;
    position: relative;
}

.description{
    color: blackBasic;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    z-index: 11;
    position: relative;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 20px;
    position: relative;
    z-index: 11;
}

.arrowBtn{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightGreyBorder;
}

.arrowBtnImg{
    width: 24px;
    height: 12px;
}
