@value darkBlueBasic from '../../../../../css/colors.css';
@value semiGreyBg from '../../../../../css/colors.css';
@value lightGreenBasic from '../../../../../css/colors.css';
@value blackBasic from '../../../../../css/colors.css';
@value whiteBasic from '../../../../../css/colors.css';
@value lightGreyBorder from '../../../../../css/colors.css';
@value lightGreyHover from '../../../../../css/colors.css';
@value lightGreenHover from '../../../../../css/colors.css';

.articles{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 80px;

    @media (--media-phone) {
        position: relative;
        padding: 0;
   }

    @media (--media-phone-s) {
        position: relative;
        padding: 0;
   }
}

.wrapper{
    width:  100%;
    max-width: 1350px;
    padding-left: 125px;
    display: flex;

    @media (--media-phone) {
        padding: 0 13px;
   }

    @media (--media-phone-s) {
        padding: 0 13px;
   }
}

.info{
    width: 100%;
    padding-bottom: 35px;

    @media (--media-phone) {
        padding-bottom: 10px;
   }

    @media (--media-phone-s) {
        padding-bottom: 10px;
   }
}

.title{
    padding: 25px 0 20px 25px;
    border-left: 5px solid lightGreenBasic;
    margin-left: -30px;
    color: darkBlueBasic;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .5px;
    cursor: pointer;
    font-family: 'Gotham Medium', sans-serif;

    @media (--media-phone) {
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 1px;
        margin-left: -2px;
        padding: 10px 0 10px 10px;
        border-left: 3px solid lightGreenBasic;
   }

    @media (--media-phone-s) {
        font-size: 10px;
        line-height: 14px;
        letter-spacing: 1px;
        margin-left: -2px;
        padding: 10px 0 10px 10px;
        border-left: 3px solid lightGreenBasic;
   }
}

.title:hover{
  color: lightGreyHover;
}

.wrapperArticles{
    width:  100%;
    max-width: 1350px;
    padding:0 125px;
    display: flex;

    @media (--media-phone) {
        padding: 0;
        overflow: hidden;
   }

    @media (--media-phone-s) {
        padding: 0;
        overflow: hidden;
   }
}

.wrapperArticleBg{
    width: 100%;
    display: flex;
    justify-content: center;
    background: semiGreyBg;

    @media (--media-phone) {
      background: whiteBasic;
   }

    @media (--media-phone-s) {
      background: whiteBasic;
   }
}

.news{
    display: flex;

    @media (--media-phone) {
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 200px;
      height: auto;
      position: relative;
   }

    @media (--media-phone-s) {
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 200px;
      height: auto;
      position: relative;
   }
}

.newsBlock{
    margin: 0 20px;
    padding: 30px 35px 50px 20px;
    cursor: pointer;

    @media (--media-phone) {
        padding-left: 25px;
        padding-top: 20px;
        padding-bottom: 40px;
        margin: 0;
   }

    @media (--media-phone-s) {
        padding-left: 25px;
        padding-top: 20px;
        padding-bottom: 40px;
        margin: 0;
   }
}

.newsBlock:hover{
    outline: 1px solid lightGreenHover;

    @media (--media-phone) {
        outline: none;
   }

    @media (--media-phone-s) {
        outline: none;
   }
}

.date{
    margin-bottom: 18px;
    font-size: 14px;
    color: darkBlueBasic;
    letter-spacing: .7px;
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 300;

    @media (--media-phone) {
      font-size: 10px;
      line-height: 14px;
      margin-bottom: 10px;
   }

    @media (--media-phone-s) {
      font-size: 10px;
      line-height: 14px;
      margin-bottom: 10px;
   }
}

.description{
    color: blackBasic;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Gotham Pro', sans-serif;
    letter-spacing: .4px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 15px;

    @media (--media-phone) {
        position: absolute;
        top: -10px;
        right: 90px;
        transform: rotate(-90deg);
        margin: 0;
   }

    @media (--media-phone-s) {
        position: absolute;
        top: -10px;
        right: 90px;
        transform: rotate(-90deg);
        margin: 0;
   }
}

.arrowBtn, .activeArrowBtn{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightGreyBorder;

    @media (--media-phone) {
        width: 30px;
        height: 30px;
   }

    @media (--media-phone-s) {
        width: 30px;
        height: 30px;
   }
}

.activeArrowBtn{
  border-color: lightGreenHover;
}

.arrowBtnImg{
    width: 24px;
    height: 12px;

    @media (--media-phone) {
        width: 15px;
        height: 10px;
   }

    @media (--media-phone-s) {
        width: 15px;
        height: 10px;
   }
}

.switches{
    display: none;

    @media (--media-phone) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
   }

    @media (--media-phone-s) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
   }
}

.switchItemActive, .switchItem{
    width: 5px;
    height: 5px;
    background: blackBasic;
    border-radius: 50%;
    margin: 0 3px;
}

.switchItem{
  background: whiteBasic;
  border: .5px solid blackBasic;
}
