:global {
    .ck.ck-balloon-panel {
        z-index: 9999 !important;
    }

    .ck.ck-content {
        h2 {
            display: block;
            font-size: 1.5em;
            line-height: 1.4em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            font-family: 'Nunito Sans', sans-serif;
        }

        h3 {
            display: block;
            font-size: 1.17em;
            line-height: 1.4em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            font-family: 'Nunito Sans', sans-serif;
        }

        h4 {
            display: block;
            font-size: 1.05em;
            line-height: 1.4em;
            margin-block-start: 1.33em;
            margin-block-end: 1.33em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            font-family: 'Nunito Sans', sans-serif;
        }

        p {
            display: block;
            font-size: 1em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            line-height: 1.4em;
            font-family: 'Nunito Sans', sans-serif;
        }

        i {
            font-style: italic;
        }

        b, strong {
            font-weight: bold;
        }

        a {
            color: #0a90eb;
            text-decoration: none;
        }

        ul {
            list-style-type: disc;
            list-style-position: inside;
        }

        ol {
            list-style-type: decimal;
            list-style-position: inside;
        }

        ul ul, ol ul {
            list-style-type: circle;
            list-style-position: inside;
            margin-left: 15px;
        }
        ol ol, ul ol {
            list-style-type: lower-latin;
            list-style-position: inside;
            margin-left: 15px;
        }

        li {
            display: list-item;
            font-size: 1em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            line-height: 1.4em;
            font-family: 'Nunito Sans', sans-serif;
        }
    }
}