@value whiteBasic from '../../../../../css/colors.css';
@value lightGreenBasic from '../../../../../css/colors.css';
@value darkBlueBasic from '../../../../../css/colors.css';
@value lightGreyHover from '../../../../../css/colors.css';
@value lightGreenHover from '../../../../../css/colors.css';
@value lightGreyBorder from '../../../../../css/colors.css';

.companies{
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper{
    width:  100%;
    max-width: 1350px;
    padding-left: 125px;
    display: flex;

    @media (max-width: 1350px) {
        padding-left: 110px;
    }

    @media (--media-tablet-l) {
        padding: 20px 13px 55px
    }
}

.info{
    width: 100%;
    padding: 55px 0 70px 0;

    @media (--media-tablet-l) {
        border: 1px solid lightGreyBorder;
        padding: 20px 0 25px;
    }
}

.title{
    padding: 25px 0 20px 25px;
    border-left: 5px solid lightGreenBasic;
    margin-left: -30px;
    color: darkBlueBasic;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: .5px;
    cursor: pointer;
    font-family: 'Gotham Pro', 'Arial Black', sans-serif;

    @media (--media-tablet-l) {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
        margin-left: -2px;
        padding: 10px 0 10px 10px;
        border-left: 3px solid lightGreenBasic;
   }

    @media (--media-phone) {
        font-size: 10px;
        line-height: 14px;
   }
}

.title:hover{
    color: lightGreyHover;
}

.companiesList{
    margin-top: 10px;
    padding: 0 30px;
    display: flex;
    width: 100%;
    overflow: auto;

    @media (--media-tablet-l) {
        padding: 0 30px;
        justify-content: center;
   }

    @media (--media-phone) {
        flex-wrap: wrap;
   }

    @media (--media-phone-s) {
        padding: 0;
   }
}

.itemBox{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;

    @media (--media-tablet-l) {
        height: 50px;
        padding: 5px 10px;
        align-self: center;
    }

    @media (--media-tablet-s) {
        width: 30%;
        height: 40px;
   }

    @media (--media-phone) {
        height: 30px;
        margin-bottom: 15px;
    }

    @media (--media-phone-s) {
        margin-bottom: 5px;
    }
}

.logo{
    width: 140px;

    @media (--media-tablet-l) {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
}
