@value limeGreen from '../../../../../css/colors.css';
@value blackBasic from '../../../../../css/colors.css';
@value whiteBasic from '../../../../../css/colors.css';
@value lightGreyBasic from '../../../../../css/colors.css';
@value darkGreyBasic from '../../../../../css/colors.css';
@value darkBlueBasic from '../../../../../css/colors.css';
@value olive from '../../../../../css/colors.css';

html, body {
    margin:0;
    padding:0;
    height:100%;
}

.pageContainer{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gridContainer{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    position: fixed;
    height: 100vh;
    z-index: 10;
    top: 102px;

    @media (max-width: 1200px){
        top: 0;
    }
}

.column{
    width: 1px;
    background-color: lightGreyBasic;
    opacity: 0.05;
    height: 100%;
    position: absolute;
    z-index: 10;
}

.column1{
    left: 134px;

    @media (max-width: 780px) {
        left: 30%;
        margin: 0;
    }
}

.column2{
    left: 25%;
    margin-left: 61px;

    @media (max-width: 780px) {
        display: none;
    }
}

.column3{
    left: 50%;
    margin-left: -10px;

    @media (max-width: 780px) {
        display: none;
    }
}

.column4{
    left: 75%;
    margin-left: -75px;

    @media (max-width: 780px) {
        display: none;
    }
}

.column5{
    right: 134px;


    @media (max-width: 780px) {
        right: 30%;
        margin: 0;
    }

}

.titleContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 108px;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto 54px auto;
    z-index: 11;
    position: relative;

    @media (max-width: 780px){
        left: -3px;
        width: 80%;
    }

    @media (max-width: 425px){
        left: -2px;
    }
}

.rectangleGreen{
    height: 60px;
    width: 6px;
    margin-right: 20px;
    background-color: limeGreen;
    flex-shrink: 0;
}

.title{
    font-size: 14px;
    font-family: 'Gotham Medium', "Arial Black";
    letter-spacing: 1.15px;
    text-align: left;
    line-height: 17px;
    max-width: 90%;

    @media (max-width: 780px) {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.85px;
    }
}

.plans{
    position: relative;
    padding-top: 130px;
    width: 100%;
    display: block;

    @media (max-width: 1200px){
        padding-top: 143px;
    }

    @media (max-width: 780px){
        display: none;
    }
}

.plansContent{
    width: 100%;
    max-width: 1350px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 72px;
    margin: 0 auto;
    position: relative;
    left: -23px;

    @media (max-width: 1349px) {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

.plansContent :last-child .stepNumber{
    letter-spacing: 390px;

    @media (max-width: 1349px) {
        letter-spacing: 280px;
    }
}

.plansContent :last-child .stepText{
    width: 114%;
    padding-right: 25%;

    @media (max-width: 1349px) {
        width: 90.5%;
        padding-right: 0;
    }
}

.step{
    width: 40%;
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 115px;
    margin-right: 48px;
    min-width: 468px;
}

.stepNumber{
    font-size: 225px;
    font-family: Verdana;
    font-weight: bold;
    color: rgba(40, 50, 65, 0.12);
    text-align: left;
    line-height: 150px;
    letter-spacing: -5.6px;
}

.stepText{
    color: blackBasic;
    font-family: 'Gotham Light', Arial;
    font-size: 14px;
    letter-spacing: 1.15px;
    width: 90%;
    height: 180px;
    justify-self: end;
    position: absolute;
    background-color: whiteBasic;
    top: 0;
    left: 86px;
    padding: 5px 7px;
    line-height: 17px;
    margin-top: -5px;
}

.stepText .text{
    position: relative;
    z-index: 11;
}

.whyRVVContainer{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.whyRVV{
    width: 100%;
    max-width: 1350px;
    position: relative;
    display: flex;
    justify-content: center;
}

.benefitsContainer{
    width: 1255px;
    border: 1px solid limeGreen;
    padding: 150px 30px 26px 30px;
    margin: 0 auto 55px auto;

    @media (max-width: 780px){
        z-index: 11;
        border: none;
        padding: 125px 0 0 0;
        margin: 0 auto;
    }
}

.whyRVV .titleContainer{
    position: absolute;
    top: 26px;
    margin: 0 auto;
    z-index: 12;
    justify-self: center;

    @media (max-width: 780px){
        width: 80%;
        margin: 0 0 0 30px;
        padding: 0;
    }
}

.benefits{
    width: 100%;
    max-width: 1350px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    @media (max-width: 1349px){
        margin-left: 48px;
    }

    @media (max-width: 780px){
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        background: url('./images/gradientBackground.png') center;
        background-size: cover;
        margin: 0;
        z-index: 11;
    }
}

.benefitContainer{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 45px;
    padding-right: 20px;
    z-index: 11;

    @media (max-width: 780px){
        flex-direction: column;
        align-items: center;
        padding: 0 10%;
        margin-bottom: 60px;
        width: 100%;
    }

    @media (max-width: 500px){
        width: 100%;
        margin: 0 30px 60px 30px;
    }
}

.benefitIconContainer{
    margin-right: 18px;

    @media (max-width: 780px){
        margin: 0 0 37px 0;
    }
}

.benefitIcon{
    width: 38px;
    height: auto;

    @media (max-width: 780px){
        width: 65px;
        height: auto;
    }
}

.benefitText{
    width: 80%;
    font-family: 'Gotham Light', Arial;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.15px;
    color: blackBasic;
    text-align: left;
    z-index: 11;

    @media (max-width: 780px){
        font-family: 'Gotham Pro', Arial;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.6px;
        text-align: center;
        width: 100%;
    }
}

.projectContainer{
    width: 100%;
    position: relative;
    background: url("./images/background.jpg") center;
    background-size: cover;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 780px){
        z-index: 11;
    }
}

.project{
    width: 100%;
    max-width: 1350px;
    height: auto;
    padding: 108px 0 92px 0;
    position: relative;

    @media (max-width: 780px){
        padding: 54px 0 92px 0;
    }
}

.projectInfo{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 134px;
    color: darkGreyBasic;
    font-family: 'Gotham Bold', Arial;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.92px;
    text-align: left;
    position: relative;
    z-index: 11;

    @media (max-width: 780px){
        padding: 0 80px;
        width: 100%;
        letter-spacing: 0.6px;
        font-size: 12px;
        line-height: 15px;
        font-family: 'Gotham Medium', 'Arial Black';
    }

    @media (max-width: 500px){
        padding: 0 30px;
    }
}

.project .titleContainer{
    @media (max-width: 780px){
        width: 80%;
        margin-left: 30px;
        padding: 0;
        margin-bottom: 30px;
    }
}

.project .titleContainer .title{
    @media (max-width: 780px){
        color: darkGreyBasic;
    }
}

.backgroundWhite{
    width: 100%;
    height: 100%;
    max-width: 1350px;
    position: absolute;
    left: 140px;
    background-color: whiteBasic;
    z-index: 6;
    top: 0;

    @media (max-width: 780px){
        width: 70%;
        left: 30%;
    }
}

.container{
    width: 100%;
    position: relative;
}

.courses{
    position: relative;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 53px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses .titleContainer{
    position: relative;
    z-index: 11;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto 58px auto;

    @media (max-width: 780px){
        width: 80%;
        padding: 0;
        margin-left: 30px;
    }
}

.coursesContainer{
    position: relative;
    left: 95px;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    background: whiteBasic;

    @media (max-width: 780px){
        left: 25%;
    }

    @media (max-width: 650px){
        left: 22.5%;
    }

    @media (max-width: 425px){
        left: 19.5%;
    }
}

.course{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    @media (max-width: 780px){
        margin-bottom: 102px;
        align-items: flex-start;
    }
}

.courseNumber{
    font-family: Verdana;
    font-weight: bold;
    font-size: 91px;
    letter-spacing: -2.3px;
    color: darkBlueBasic;
    text-align: left;
    z-index: 4;

    @media (max-width: 780px){
        font-size: 120px;
        position: absolute;
        top: -15px;
        left: -10px;
    }
}

.courseText{
    font-family: 'Gotham Medium', Arial;
    font-size: 14px;
    padding: 0 7px;
    line-height: 17px;
    letter-spacing: 1.15px;
    justify-self: flex-end;
    width: 70%;
    height: auto;
    position: absolute;
    left: 40px;
    background-color: whiteBasic;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100px;
    z-index: 11;

    @media (max-width: 780px){
        width: 60%;
        font-family: 'Gotham Light', Arial;
        font-size: 12px;
        letter-spacing: 0.9px;
        line-height: 16px;
        align-items: flex-start;
        padding: 0 10px;
        position: relative;
        height: auto;
    }
}

.courseText .text{
    position: relative;
    z-index: 11;
}

.patternContainer{
    height: 100%;
    width: 130px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: url('./images/pattern.png') center;
    background-size: cover;

    @media (max-width: 780px){
        width: 33%;
    }
}

.patternContainerBig{
    height: 100%;
    width: 33%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background: url('./images/pattern.png') repeat;
    background-size: cover;


    @media (max-width: 1700px){
        width: 20%;
    }

    @media (max-width: 1500px){
        width: 15%;
    }

    @media (max-width: 780px){
        width: 33%;
        background-size: contain;
    }
}


.pattern{
    height: 100%;
    width: auto;
}

.facts{
    width: 100%;
    background: url('./images/blueBackgroundPattern.png') center;
    background-size: cover;
    padding: 40px 0;
    position: relative;
    z-index: 11;
}

.facts .titleContainer{
    margin-bottom: 105px;

    @media (max-width: 1024px){
        margin-bottom: 50px;
    }

    @media (max-width: 780px){
        width: 80%;
        padding: 0;
        margin-left: 30px;
    }
}

.rectangleWhite{
    height: 60px;
    width: 6px;
    margin-right: 20px;
    background-color: whiteBasic;
    flex-shrink: 0;
}

.whiteTitle{
    font-size: 14px;
    line-height: 17px;
    font-family: 'Gotham Medium', "Arial Black";
    letter-spacing: 1.15px;
    text-align: left;
    color: whiteBasic;

    @media (max-width: 780px) {
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.85px;
    }
}

.factsInfo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 1350px;
    padding: 0 135px;
    margin: 0 auto 184px auto;

    @media (max-width: 1024px){
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto;
    }

    @media (max-width: 780px){
        align-items: center;
    }

    @media (max-width: 500px){
        padding: 0 30px;
    }
}

.factContainer{
    max-width: 308px;

    @media (max-width: 1349px){
        max-width: 230px;
        margin-bottom: 50px;
    }

    @media (max-width: 1024px){
        margin-bottom: 120px;
    }

    @media (max-width: 780px){
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 120px;
    }

    @media (max-width: 500px){
        max-width: 100%;
        width: 100%;
    }
}

.factValue{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 33px;
}

.valueNumber{
    color: whiteBasic;
    font-size: 74px;
    font-family: Verdana;
    font-weight: bold;
    line-height: 80px;
    letter-spacing: -1.8px;
}

.valueSign{
    color: whiteBasic;
    font-size: 43px;
    font-family: Verdana;
    font-weight: bold;
    line-height: 25px;
    letter-spacing: -1px;

}

.factText{
    font-family: 'Gotham Bold', 'Arial Black';
    color: whiteBasic;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.92px;
    width: 100%;

    @media (max-width: 1024px){
        text-align: center;
    }

    @media (max-width: 780px){
        text-align: center;
        font-family: 'Gotham Medium', 'Arial Black';
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.6px;
    }
}

.partnersContainer{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 780px){
        display: none;
    }
}

.partners{
    width: 100%;
    max-width: 1350px;
    position: relative;
}

.partnersList{
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logoContainer{
    padding: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.logo{
    height: auto;
    width: 140px;

    @media (max-width: 600px){
        height: auto;
        width: 100%;
    }
}

.participantsContainer{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.participantsContainer .patternContainerBig{
    display: none;

    @media (max-width: 780px){
        display: block;
        width: 33%;
        left: 0;
        top: 0;
        height: 190%;
        background-size: contain;
        background-repeat: repeat-y;
    }
}

.participants{
    width: 100%;
    max-width: 1350px;
    position: relative;
}

.participants .titleContainer{
    padding-top: 28px;
    position: relative;
    z-index: 11;

    @media (max-width: 780px){
        width: 80%;
        padding-left: 0;
        margin-left: 30px;
        padding-top: 53px;
    }
}

.participantsList{
    font-family: 'Gotham Light', Arial;
    position: relative;
    left: 130px;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding-bottom: 90px;
    z-index: 11;

    @media (max-width: 780px) {
        left: 80px;
    }

    @media (max-width: 500px){
        left: 30px;
    }
}

.participant{
    font-family: 'Gotham Medium', Arial;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.04px;
    text-align: left;
    color: blackBasic;
    max-width: 70%;

    @media (max-width: 780px){
        font-family: 'Gotham Light', Arial;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.6px;
    }
}

.backgroundGrey{
    width: calc(100% - 134px - ((100vw - 1350px)/2));
    background-color: rgba(40, 50, 65, 0.12);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    @media (max-width: 1366px){
        width: calc(100% - 134px);
    }

    @media (max-width: 1024px){
        width: 100%;
    }

    @media (max-width: 780px){
        display: none;
    }
}

.participants .titleContainer .title{
    width: 85%;
}

.containerIdea{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    @media (max-width: 780px){
        z-index: 11;
    }
}

.idea{
    width: 100%;
    max-width: 1350px;
    position: relative;
}

.ideaContainer{
    position: relative;
    left: 135px;
    background-color: olive;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 70px 56px;
    max-width: 1350px;
    margin: 0 auto;
    z-index: 5;

    @media (max-width: 780px){
        left: 0;
        padding: 100px 80px;
    }

    @media (max-width: 500px){
        padding: 100px 30px;
    }
}

.imageContainer{
    margin-right: 50px;
    position: relative;
    z-index: 11;
    width: 158px;
    height: auto;

    @media (max-width: 780px){
        margin: 0;
        position: absolute;
        top: -75px;
        right: 80px;
    }
}

.recycleImage{
    width: 100%;
    height: auto;
}

.ideaText{
    width: 60%;
    font-family: 'Gotham Light', Arial;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.15px;
    text-align: left;
    position: relative;
    z-index: 11;

    @media (max-width: 1024px){
        width: 50%;
        font-size: 20px;
        line-height: 24px;
        font-family: 'Gotham Pro', Arial;
    }

    @media (max-width: 780px){
        width: 100%;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.6px;

    }
}

.idea .patternContainer{
    left: -130px;

    @media (max-width: 780px){
        display: none;
    }
}

.backgroundGreen{
    background-color: olive;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;

    @media (max-width: 780px){
        display: none;
    }
}

.partnersMobile{
    display: none;
    background-color: whiteBasic;
    z-index: 7;
    border: 1px solid rgba(122, 122, 122, 0.5);
    margin: 30px;

    @media (max-width: 780px){
        display: block;
        z-index: 11;
        margin: 143px 30px 0 30px;
    }

    @media (max-width: 599px){
        margin: 123px 30px 0 30px;
    }
}

.partnersMobile .logoContainer{
    margin: 0 auto;
    padding: 13px 26px;

    @media (max-width: 600px){
        width: 50%;
    }
}

.partnersMobile .titleContainer{
    padding-left: 0;
    margin: 27px 0;
    position: relative;

    @media (max-width: 780px){
        width: 100%;
    }
}

.containerPlansMobile{
    display: none;
    width: 100%;

    @media (max-width: 780px){
        display: block;
    }
}

.containerPlansMobile .titleContainer{
    padding: 0;
    margin-left: 30px;

    @media (max-width: 780px){
        width: 100%;
    }
}

.containerPlansMobile .patternContainerBig{
    width: 33%;
    height: 50%;
    background-size: contain;
    background-repeat: repeat-y;
}

.containerPlansMobile .backgroundWhite{
    width: 70%;
    height: 100%;
    position: absolute;
    left: 30%;
    top: 0;
}

.containerPlansMobile .coursesContainer{
    margin-left: 22.5%;
    width: 100vw;
    overflow-x: hidden;
    height: auto;
    left: 0;
    position: relative;

    @media (max-width: 650px){
        margin-left: 20.5%;
    }

    @media (max-width: 425px){
        margin-left: 15.5%;
    }
}

.containerPlansMobile .course{
    height: auto;
    width: 100vw;
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    position: relative;
    overflow: hidden;

    @media (max-width: 780px){
        margin-bottom: 0;
    }
}

.containerPlansMobile .courseInfo{
    position: relative;
    width: 100vw;
    display: flex;
    transition: left .5s;
}

.containerPlansMobile .courseNumber{
    font-size: 160px;
    position: relative;
    top: -20px;
    left: -8px;
    width: 0;
    word-wrap: break-word;
}

.containerPlansMobile .courseText{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.9px;
    left: 60px;
    align-items: flex-start;
    font-family: 'Gotham Light', Arial;
    height: auto;

    @media (max-width: 780px){
        margin-bottom: 0;
    }

    @media (max-width: 500px){
        font-size: 14px;
        line-height: 18px;
    }
}

.plansPagination{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 20px;
    padding-left: 30%;
    z-index: 11;
    justify-self: flex-start;
    margin: 30px auto 0 auto;
    width: 100%;

    @media (max-width: 500px){
        justify-content: center;
        padding-left: 0;
    }
}

.paginationSquare{
    width: 11px;
    height: 11px;
    border: 1px solid rgba(122, 122, 122, 0.5);
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;

    @media (max-width: 500px){
        width: 6px;
        height: 6px;
    }
}

.paginationSquareActive{
    width: 11px;
    height: 11px;
    background-color: darkBlueBasic;

    @media (max-width: 500px){
        width: 6px;
        height: 6px;
    }
}

.plansHeader{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.plansButtons{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 11;
    position: relative;
    right: calc(30% - 60px);
}

.button{
    height: 10px;
    width: auto;
}

.buttonLeft, .buttonRight{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonLeft{
    transform: rotate(90deg);
}

.buttonRight{
    transform: rotate(90deg);
}

.buttonLeft.buttonActive{
    transform: rotate(-90deg);
}

.buttonRight.buttonDisabled{
    transform: rotate(-90deg);
}

.buttonDisabled{
    border: 1px solid rgba(122, 122, 122, 0.2);
}

.buttonActive{
    border: 1px solid limeGreen;
    opacity: 1;
}

