@value whiteBasic from '../../../../../css/colors.css';
@value lightGreenBasic from '../../../../../css/colors.css';
@value darkBlueBasic from '../../../../../css/colors.css';
@value lightGreyHover from '../../../../../css/colors.css';
@value greyTextBasic from '../../../../../css/colors.css';

.about{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.wrapper{
    width:  100%;
    max-width: 1350px;
    padding:0 125px;
    position: relative;

    @media (max-width: 1350px) {
        padding: 0 110px;
    }

    @media (--media-tablet-l) {
        padding: 0;
    }
}

.title{
    margin-top: 75px;
    padding: 20px 0 20px 20px;
    border-left: 5px solid lightGreenBasic;
    margin-left: -15px;
    color: darkBlueBasic;
    font-weight: 600;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 1px;
    font-family: 'Gotham Pro', "Arial Black", sans-serif;
    position: relative;
    z-index: 11;

    @media (max-width: 1350px){
        margin-left: 0;
    }

    @media (--media-tablet-l) {
        margin: 60px 50px;
        padding: 20px 0 20px 22px;
        font-size: 16px;
        line-height: 18px;
    }

    @media (--media-tablet-s) {
        margin: 40px;
        padding: 15px 0 15px 16px;
        font-size: 14px;
        line-height: 16px;
    }

    @media (--media-phone) {
        margin: 40px 30px;
        padding: 10px 0 10px 11px;
        font-size: 12px;
        line-height: 14px;
    }

    @media (--media-phone-s) {
        margin: 40px 20px;
        font-size: 10px;
        line-height: 12px;
    }
}

.content{
    padding: 70px 10px 30px 10px;
    position: relative;
    z-index: 11;

    @media (max-width: 1350px){
        padding: 70px 25px 30px 25px;
    }

    @media (--media-tablet-l) {
        padding: 0;
    }
}

.contentBlock{
    display: flex;
    margin-bottom: 40px;

    @media (--media-tablet-l) {
        flex-direction: column;
    }
}

.img{
    width: 546px;
    margin-left: 20px;
    order: 1;
    position: relative;
    z-index: 11;

    @media (max-width: 1350px) {
      width: 50.5%;
    }

    @media (--media-tablet-l) {
        order: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}

.contentBlock:nth-child(2n) .img{
     order: 0;
     margin-right: 112px;
     margin-left: -125px;

     @media (max-width: 1350px) {
          margin-left: -110px;
          margin-right: 100px;
          width: 50.5%;
     }

     @media (--media-tablet-l) {
         order: 0;
         margin: 0;
         width: 100%;
         max-width: 100%;
     }
}

.contentBlock:nth-child(3n):nth-child(odd) .img{
    width: 680px;
    margin-right: -125px;
    position: relative;
    left: 0;

    @media (max-width: 1350px) {
         margin-right: 0;
         width: 50.5%;
    }

    @media (--media-tablet-l) {
        order: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}

.description{
    padding-top: 45px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: .7px;
    font-family: 'Gotham Pro', "Arial Black", sans-serif;
    color: greyTextBasic;
    padding-right: 5px;
    z-index: 11;
    position: relative;

    @media (max-width: 1350px) {
         width: 50%;
    }

    @media (--media-tablet-l) {
        padding: 50px 50px 75px 50px;
        font-size: 15px;
        line-height: 18px;
        width: 100%;
    }

    @media (--media-tablet-s) {
        padding: 40px 30px 75px 40px;
        font-size: 14px;
        line-height: 16px;
    }

    @media (--media-phone) {
        padding: 30px 22px 75px 30px;
        font-size: 13px;
        line-height: 15px;
    }

    @media (--media-phone-s) {
        padding: 23px 15px 75px 20px;
        font-size: 11px;
        line-height: 13px;
    }
}
