@value whiteBasic from '../../../../../css/colors.css';
@value lightGreenBasic from '../../../../../css/colors.css';
@value darkBlueBasic from '../../../../../css/colors.css';
@value lightGreyHover from '../../../../../css/colors.css';
@value greyTextBasic from '../../../../../css/colors.css';

.about{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.wrapper{
    width:  100%;
    max-width: 1350px;
    padding:0 125px;
    position: relative;

    @media (max-width: 1350px) {
        padding: 0 110px;
    }

    @media (--media-tablet-l) {
        padding: 0;
        margin-bottom: 20px;
    }
}

.title{
    margin-top: 75px;
    padding: 20px 0 20px 20px;
    border-left: 6px solid lightGreenBasic;
    margin-left: -15px;
    height: 60px;
    display: flex;
    align-items: center;
    color: darkBlueBasic;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.15px;
    font-family: 'Gotham Medium', "Arial Black", sans-serif;
    position: relative;
    z-index: 11;

    @media (max-width: 1350px){
        margin-left: 0;
    }

    @media (--media-tablet-l) {
        margin: 80px 50px 60px 50px;
        padding: 20px 0 20px 20px;
        font-size: 14px;
        line-height: 17px;
    }

    @media (--media-tablet-s) {
        margin: 60px 40px 40px 40px;
        padding: 15px 0 15px 20px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.84px;
        width: 80%;
    }

    @media (--media-phone) {
        margin: 60px 30px 40px 30px;
        padding: 10px 0 10px 20px;
        font-size: 12px;
        line-height: 15px;
    }

    @media (--media-phone-s) {
        margin: 60px 20px 40px 20px;
        font-size: 12px;
        line-height: 15px;
    }
}

.content{
    padding: 70px 10px 30px 10px;
    position: relative;
    z-index: 11;

    @media (max-width: 1350px){
        padding: 70px 25px 30px 25px;
    }

    @media (--media-tablet-l) {
        padding: 0;
    }
}

.contentBlock{
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;

    @media (--media-tablet-l) {
        flex-direction: column;
    }
}

.img{
    width: 550px;
    margin-left: 20px;
    order: 1;
    position: relative;
    z-index: 11;

    @media (max-width: 1350px) {
      width: 51%;
    }

    @media (--media-tablet-l) {
        order: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}

.video {
    min-width: 550px;

    @media (max-width: 1350px) {
        min-width: auto;
        width: 51%;
    }

    @media (--media-tablet-l) {
        order: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}

.contentBlock:nth-child(2n) .img{
     order: 0;
     margin-right: 112px;
     margin-left: -125px;

     @media (max-width: 1350px) {
          margin-left: -110px;
          margin-right: 100px;
          width: 51%;
     }

     @media (--media-tablet-l) {
         order: 0;
         margin: 0;
         width: 100%;
         max-width: 100%;
     }
}

.description{
    padding-top: 45px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.15px;
    font-family: 'Gotham Light', "Arial Black", sans-serif;
    color: greyTextBasic;
    padding-right: 5px;
    z-index: 11;
    position: relative;

    @media (max-width: 1350px) {
         width: 50%;
    }

    @media (--media-tablet-l) {
        padding: 50px 50px 0;
        font-size: 14px;
        line-height: 17px;
        width: 100%;
    }

    @media (--media-tablet-s) {
        padding: 40px 30px 0 40px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.9px;
    }

    @media (--media-phone) {
        padding: 30px 22px 0 30px;
        font-size: 13px;
        line-height: 16px;
    }

    @media (--media-phone-s) {
        padding: 23px 15px 0 20px;
        font-size: 11px;
        line-height: 14px;
    }
}

.iframeContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.mainVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}