@value limeGreen from '../../../../../css/colors.css';
@value whiteBasic from '../../../../../css/colors.css';

.newsCardsContainer{
    max-width: 807px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;

    @media (max-width: 1080px){
        width: 100%;
        justify-content: center;
        position: absolute;

        :nth-child(6n){
            border: 1px solid whiteBasic;
        }
    }
}

.sliderContainer{
    width: 100%;

    @media (max-width: 1080px){
        overflow-y: hidden;
        position: relative;
        display: flex;
        justify-content: center;
    }
}

.pagination{
    font-family: 'Gotham Pro', Arial;
    font-size: 16px;
    position: relative;
    z-index: 11;
    width: 100%;
    height: 100px;
    background: url('./images/pattern.png') center;
    background-size: cover;
    display: none;

    @media (max-width: 1080px){
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        position: absolute;
        left: 0;
    }
}

.paginationNumber{
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.paginationNumberActive{
    border: 1px solid limeGreen;
}

.newsContent{
    padding-bottom: 100px;
}