@value limeGreen from '../../../../../css/colors.css';
@value whiteBasic from '../../../../../css/colors.css';

.newsContentTop {
    position: relative;
    top: -100px;
}

.sliderContainer{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.sliderContainerDesktop {
    @media (max-width: 1080px) {
        display: none;
    }
}

.sliderContainerMobile {
    display: none;

    @media (max-width: 1080px) {
        display: flex;
    }
}

.newsCardsContainer{
    max-width: 807px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;

    @media (max-width: 1080px){
        max-width: 100%;
    }
}

.pagination{
    font-family: 'Gotham Pro', Arial;
    font-size: 16px;
    z-index: 11;
    height: 100px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 37px;

    @media (max-width: 1080px){
        display: none;
    }
}

.paginationMobile{
    font-family: 'Gotham Pro', Arial;
    font-size: 16px;
    position: relative;
    z-index: 11;
    width: 100%;
    height: 100px;
    background: url('./images/pattern.png') center;
    background-size: contain;
    display: none;

    @media (max-width: 1080px){
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        position: absolute;
        left: 0;
    }
}

.newsContent{
    padding-bottom: 100px;
}