.newsCardContainer{
    width: 222px;
    margin: 47px 47px 0 0;
}

.newsCardImage{
    width: 100%;
    padding-top: 80%;
    position: relative;
}

.imageContainer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.image{
    width: 100%;
    height: auto;
}

.newsCardDate{
    width: 100%;
    margin: 10% 0 7% 0;
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: GothamPro-Light;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
    letter-spacing: 1px;
    color: #686868;
}

.newsCardTitle{
    width: 100%;
    height: 120px;
    align-items: start;
    justify-content: start;
    font-family: GothamPro;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.5px;
    color: #000000;
}